@use "../../../styles/sass/variables.scss" as *;

.block {}

.debug {
  color: var(--colour-text-tertiary)
}

.log {
  color: var(--colour-text-secondary)
}

.info {
  color: var(--colour-text-primary)
}

.warning {
  color: var(--warning-colour-text-primary)
}

.error {
  color: var(--negative-colour-text-primary)
}
