@use "../../styles/sass/variables.scss" as *;

.block {
  display: flex;
  flex-flow: row nowrap;
  gap: $size-small;
  justify-content: space-between;
  align-items: center;
  color: var(--colour-text-secondary);

  transition-duration: var(--duration-global);
  transition-property: color;

  &:hover {
    color: var(--colour-text-primary);
  }
}

.id {
  word-break: break-all;
}

.button {
  flex: 1 0 auto;
}
