@use "@repo/ui/styles/sass/variables" as *;

.pending {
  color: var(--colour-text-secondary);
}

.in-progress {
  color: var(--submit-colour-text-secondary);
}

.finished {
  color: var(--positive-colour-text-secondary);
}

.failed {
  color: var(--negative-colour-text-secondary);
}
