# Next.js build output
.next
dist
# nextjs shits itself when having a custom output folder
out
# service worker setup
public/service-worker.js
public/service-worker.js.map

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# dotenv environment variable files
.env.*.local
.env.local
