# Next.js build output
.next
dist
# nextjs shits itself when having a custom output folder
out

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# dotenv environment variable files
.env.*.local
.env.local
