@use "../../styles/sass" as *;

.header {
  grid-area: header;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: $size-normal;
  color: hsl(100, 0, 0);
  background-color: hsl(100, 0, 85);
  padding: $size-small $size-normal;

  @media (min-width: $width-tablet) {
    padding: $size-small $size-big;
  }
}

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 100%;
  align-content: baseline;
  gap: $size-normal;
  color: hsl(100, 0, 0);
  background-color: hsl(100, 0, 90);
  padding-bottom: $size-normal;

  & > * {
    padding: 0 $size-small;

    @media (min-width: $width-phone) {
      padding: 0 $size-normal;
    }

    @media (min-width: $width-tablet) {
      padding: 0 $size-big;
    }
  }
}

.footer {
  grid-area: footer;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: $size-normal;
  color: hsl(100, 0, 0);
  background-color: hsl(100, 0, 85);
  padding: $size-small $size-normal;

  @media (min-width: $width-tablet) {
    padding: $size-small $size-big;
  }
}
