@use "../styles/sass/variables.scss" as *;

.block {
  width: 100%;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $size-normal;
}

.locale {
  position: relative;
}

.localeList {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-flow: column nowrap;
  gap: $size-small;
  width: 100%;
  background-color: var(--colour-background-secondary);
  padding: $size-normal;
}
