@use "../styles/sass/variables" as *;

.block {
  border: $size-thin solid var(--colour-background-tertiary);
  border-radius: $size-little;

  &[open] {
    .summary {
      border-bottom: $size-thin solid var(--colour-background-tertiary);
    }
  }
}

.summary {
  padding: $size-small;
  cursor: pointer;

  & > * {
    display: inline;
  }
}

.content {
  padding: $size-small;
}
