# configs
/config/server.development.json
/config/server.json

# typescript build cache
/tsconfig.node.tsbuildinfo
/tsconfig.vite.tsbuildinfo

.DS_Store
/node_modules/

# React Router
/.react-router/
/build/
