@use "@repo/ui/styles/sass/variables" as *;

.block {
  display: grid;
  grid:
    "label button" auto
    "input input" auto
    / 1fr;
  gap: $size-small;
}

.label {
  grid-area: label;
}

.button {
  grid-area: button;
  min-width: 6em;
}

.input {
  grid-area: input;
}
