@use "@repo/ui/styles/sass/variables" as *;

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 100%;
  align-content: center;
  gap: $size-normal;
  color: var(--colour-text-primary);
  background-color: var(--colour-background-tertiary);
  padding-bottom: $size-normal;

  & > * {
    padding: 0 $size-small;

    @media (min-width: $width-phone) {
      padding: 0 $size-normal;
    }

    @media (min-width: $width-tablet) {
      padding: 0 $size-big;
    }
  }
}
