@use "../../styles/sass/variables.scss" as *;

.block {
  // ensure the header will never overflow its parent
  overflow-wrap: anywhere;
  max-width: $width-tablet;
  width: 100%;
  background-color: hsl(100, 0, 100);
  border-radius: $radius-normal;
  margin: 0 auto;
}

.h1 {
  max-width: 100%;
  font-size: 2.2rem;
  text-align: center;
  border-radius: 0;
  padding: 0;
  margin: 0;
}
