@use "@repo/ui/styles/sass/variables" as *;

.block {
  background-color: inherit;
  white-space: pre-wrap;
  word-break: break-word;
}

.code {
  background-color: var(--colour-background-secondary-transparent);
  padding: $size-small;
}
