@use "../styles/sass/variables.scss" as *;

.block {
  padding-left: $size-normal;
  display: flex;
  flex-flow: column nowrap;
  gap: $size-small;
}

.unordered {
  list-style-type: disc;
}

.ordered {
  list-style-type: decimal-leading-zero;
}
