@use "@repo/ui/styles/sass/variables" as *;

.key {
  display: flex;
  flex-flow: row nowrap;
  gap: $size-normal;
  align-items: center;
  justify-content: space-between;
  padding: $size-small 0;
}

.value {
  font-family: monospace;
  font-size: $size-normal;
}

.delete {
  margin: 0 auto;
}
