@use "../../styles/sass/variables.scss" as *;

.block {}

.list {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  flex-direction: column-reverse;
  gap: 0;
  width: 100%;

  & > * {
    width: 100%;
    min-height: 40px;
    background-color: var(--colour1-primary);
    padding: $size-small;
  }

}
