@use "@repo/ui/styles/sass/variables" as *;

.block {
  justify-self: center;
  display: grid;
  gap: $size-small;
  max-width: $width-phone;
  border-radius: $radius-normal;
  border: $size-thin solid var(--colour-text-primary);
  padding: $size-normal;

  transition-property: border;
  transition-duration: var(--duration-global);

  @media (min-width: $width-laptop) {
    max-width: calc(#{$width-phone} * 1.1);
  }
}

.form {
  display: none;
}

.submit {
  display: grid;
  justify-items: flex-start;
}

.nested {
  padding: $size-small 0;
  border-left: 0;
  border-right: 0;
}
