{
  "folders": [
    {
      "name": "root (todos)",
      "path": "."
    },
    {
      "name": "frontend",
      "path": "apps/frontend"
    },
    {
      "name": "link-overwatch",
      "path": "apps/extension"
    },
    {
      "name": "@repo/ui",
      "path": "packages/ui"
    },
     {
      "name": "@repo/nodejs",
      "path": "packages/nodejs"
    },
    {
      "name": "@repo/webpack",
      "path": "packages/webpack"
    },
    {
      "name": "schema",
      "path": "packages/schema"
    }
  ],
  "settings": {
    "files.exclude": {
      "**/.DS_Store": true,
      "**/.git": true,
      "**/.hg": true,
      "**/.svn": true,
      "**/CVS": true,
      "**/node_modules": true,
      "**/Thumbs.db": true,
      "**/.turbo": true,
      // "**/.vscode": true,
      "**/.next": true
    },
    "files.watcherExclude": {
      "**/.git/objects/**": true,
      "**/.git/subtree-cache/**": true,
      "**/.hg/store/**": true,
      "**/node_modules/*/**": true
    },
    "files.associations": {
      "*code-workspace.example": "jsonc",
      ".env.*": "dotenv"
    },
    "typescript.referencesCodeLens.enabled": true,
    "typescript.preferences.preferTypeOnlyAutoImports": true,
    "typescript.preferences.jsxAttributeCompletionStyle": "braces"
  },
  "extensions": {
    "recommendations": ["eamodio.gitlens", "dotenv.dotenv-vscode"]
  }
}
