@use "@repo/ui/styles/sass/variables" as *;

.block {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: $size-normal;
}

.item {
  flex: 0 0 6em;
}

.button {
  width: 100%;
}
