@use "@repo/ui/styles/sass/variables" as *;

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 100%;
  align-content: baseline;
  gap: $size-normal;
  color: var(--colour-text-primary);
  background-color: var(--colour-background-tertiary);
}
