@use "../../styles/sass/variables.scss" as *;

.block {
  display: inline-grid;
  grid:
    "current  current" auto
    "previous next" auto
    "first    last" auto;
  gap: $size-normal;
  border-radius: $radius-normal;
  border: $size-thin solid var(--colour-text-secondary);
  padding: $size-small;
}

.first {
  min-width: var(--local-min-width);
  grid-area: first;
  justify-self: start;
}

.previous {
  min-width: var(--local-min-width);
  grid-area: previous;
  justify-self: start;
}

.current {
  min-width: var(--local-min-width);
  grid-area: current;
  justify-self: center;
}

.stats {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.next {
  min-width: var(--local-min-width);
  grid-area: next;
  justify-self: end;
}

.last {
  min-width: var(--local-min-width);
  grid-area: last;
  justify-self: end;
}

.button {
  width: 100%;
}

.disabled {
  display: flex;
  justify-content: center;
  color: var(--colour-text-secondary)
}
